.about {
  margin-bottom: 80px;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

video{
  position: relative; 
  top: 0;
  width: 600px;
  height: 400px;
}
.video-container {
  position: relative;
  overflow: hidden;
}

.video-player {
  transition: transform 0.5s ease;
}

.video-player.zoomed {
  transform: scale(1.2); 
}

.controls {
  position: absolute;
  z-index: 1;
}
.left{
  padding: 4%;
}
.right{
  padding: 4%;
}
@media screen and (max-width: 1200px) {
  .containerr {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}

